@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Roboto+Slab:wght@300&display=swap');

:root {
    --bgcolor: rgb(51,51,51);
    --fgcolor: rgb(255,255,255);
    --accentcolor: rgb(19, 160, 255);
    --yellow: rgb(255, 244, 29);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url("https://www.ctvnews.ca/content/dam/ctvnews/en/images/2022/12/29/ukraine-1-6211651-1672330416121.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

div#navbar {
    background: var(--bgcolor);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 8%;
}

div#navbar > a > #home {
    
}

div#navbar > a > #home {
    
}

#background-two {
    content: url("https://cloudfront-us-east-2.images.arcpublishing.com/reuters/LIS3WYTE7NJDRNILHJMPPKZPVE.jpghttps://cloudfront-us-east-2.images.arcpublishing.com/reuters/LIS3WYTE7NJDRNILHJMPPKZPVE.jpg");   
}

a, p {
    font-family: "Inter";
    font-weight: 300;
    color: var(--fgcolor);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter";
    font-weight: 700;
    color: var(--fgcolor);
    margin: 0;
}

h1#header {
    font-family: "Inter";
    font-weight: 700;
    font-size: 3.5vw !important;
    color: var(--accentcolor);
    margin: 0;
    float: left;
    margin-left: 1%;

    background-image: linear-gradient(0deg, var(--yellow), var(--yellow), var(--yellow), var(--yellow), var(--yellow), var(--accentcolor), var(--accentcolor), var(--accentcolor), var(--accentcolor), var(--accentcolor), var(--accentcolor));
  
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}