@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Roboto+Slab:wght@300&display=swap');

:root {
    --bgcolor: rgb(51,51,51);
    --fgcolor: rgb(255,255,255);
    --fgselcolor: rgb(150,150,150);
    --accentcolor: rgb(19, 160, 255);
    --yellow: rgb(255, 244, 29);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url("https://cloudfront-us-east-2.images.arcpublishing.com/reuters/LIS3WYTE7NJDRNILHJMPPKZPVE.jpghttps://cloudfront-us-east-2.images.arcpublishing.com/reuters/LIS3WYTE7NJDRNILHJMPPKZPVE.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
}

div#navbar {
    background: var(--bgcolor);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 8%;
}

div#navbar > button#home {
    margin: 0;
    font-size: 1.75vw;
    background: var(--bgcolor);
    border-color: var(--fgcolor);
    border-style: solid;
    border-width: 0.75px;
    position: relative;
    top: 1.77vh;
    left: 53.5vw;
}

div#navbar > button#orgs {
    margin: 0;
    font-size: 1.75vw;
    background: var(--bgcolor);
    border-color: var(--fgselcolor);
    color: var(--fgselcolor);
    border-style: solid;
    border-width: 0.75px;
    position: relative;
    top: 1.77vh;
    left: 54vw;
}

button, p {
    font-family: "Inter";
    font-weight: 300;
    color: var(--fgcolor);
    margin: 0;
    backdrop-filter: blur(8px);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter";
    font-weight: 700;
    color: var(--fgcolor);
    margin: 0;
}

h1#header {
    font-family: "Inter";
    font-weight: 700;
    font-size: 3.5vw !important;
    color: var(--accentcolor);
    margin: 0;
    float: left;
    margin-left: 1%;

    background-image: linear-gradient(0deg, var(--yellow), var(--yellow), var(--yellow), var(--yellow), var(--yellow), var(--accentcolor), var(--accentcolor), var(--accentcolor), var(--accentcolor), var(--accentcolor));
  
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}